.navbar-button {
    background-color: transparent;
    border-color: transparent;
    color: yellow;
    font-size: large;
    font-weight: bold;
    padding: 15px 32px;
}

.navbar-button:hover {
    background-color: yellow;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    color: purple;
}

